
/* Auth idle checker */
#authIdleCheckerWarning {
    position: fixed;
    top: 50px;
    left: 20%;
    width: 60%;
}

#authIdleCheckerWarning p {
    margin-bottom: 10px;
}

#authIdleCheckerWarning button {
    margin-bottom: 0;
    margin-right: 0.5em;
}

.adp-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;

    td {
        min-width: 3em;
        padding: .1rem .25rem;
    }

    .adp-separator {
        min-width: 1em;
    }

    .adp-move {
        background-color: yellow;
    }
    .adp-insert {
        background-color: lightgreen;
    }
    .adp-delete {
        background-color: orangered;
    }
    .adp-equal, .adp-match {
        background-color: lightgray;
    }
}
